<a href="https://colab.research.google.com/github/HyosangKwon/Data-analysis-to-study-alone-with-python-/blob/main/01_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%84%B8%ED%8A%B8_%EC%B0%BE%EA%B3%A0_%EB%B6%88%EB%9F%AC%EC%98%A4%EA%B8%B0_open()%EA%B3%BC_pandas_%ED%99%9C%EC%9A%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 공개 데이터 세트 가져오기

- [공공데이터포털](https://www.data.go.kr) 에서 필요한 데이터를 찾아보자.

- [남산도서관 장서 대출목록](https://www.data4library.kr/openDataV) 가져오기.

In [ ]:
import gdown
gdown.download('https://bit.ly/3eecMKZ','남산도서관 장서 대출목록 (2021년 04월).csv', quiet = False) # 구글 드라이브에서 csv파일 가져오기

# gdown.download('url', '원하는파일', quiet = False)

Downloading...
From: https://bit.ly/3eecMKZ
To: /content/남산도서관 장서 대출목록 (2021년 04월).csv
100%|██████████| 58.1M/58.1M [00:00<00:00, 69.7MB/s]

'남산도서관 장서 대출목록 (2021년 04월).csv'

># 파이썬으로 csv 파일 출력하기

In [ ]:
with open('남산도서관 장서 대출목록 (2021년 04월).csv') as f:
    print(f.readline())

# 인코딩 오류 발생

UnicodeDecodeError: ignored

>>## 파일 인코딩 형식 확인하기
- chardet 패키지의 chardet.detect() 함수 사용

In [ ]:
import chardet
with open('남산도서관 장서 대출목록 (2021년 04월).csv', mode = 'rb') as f :
    d = f.readline()
print(chardet.detect(d))

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

>>## 인코딩 형식 지정하기
- open() 함수로 파일을 읽을 때 encoding 매개변수로 인코딩 형식을 지정

In [ ]:
with open('남산도서관 장서 대출목록 (2021년 04월).csv', encoding = 'EUC-KR') as f:
    print(f.readline())
    print(f.readline())
    print(f.readline())

번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,

"1","인공지능과 흙","김동훈 지음","민음사","2021","9788937444319","","","","","1","0","2021-03-19",

"2","가짜 행복 권하는 사회","김태형 지음","갈매나무","2021","9791190123969","","","","","1","0","2021-03-19",

---
># 데이터프레임 다루기: 판다스
- read_csv() 함수 사용

In [ ]:
import pandas as pd
df = pd.read_csv('남산도서관 장서 대출목록 (2021년 04월).csv', encoding = 'EUC-KR')

<ipython-input-12-340e0f71ef9e>:2: DtypeWarning: Columns (5,6,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('남산도서관 장서 대출목록 (2021년 04월).csv', encoding = 'EUC-KR')

In [ ]:
# 파일을 나누어 읽지 않고 한 번에 읽게 하기
df = pd.read_csv('남산도서관 장서 대출목록 (2021년 04월).csv', encoding = 'EUC-KR', low_memory = False)

>>## df.head() 메서드를 사용해 데이터프레임의 처음 다섯 개 행 확인

In [ ]:
df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

- 만약 첫 행이 열 이름이 아니라면 read_csv() 함수 호출 시 header 매개변수를 None으로 지정
- names 매개변수에 열 이름 리스트를 따로 전달

>>## 데이터프레임을 csv 파일로 저장하기: to_csv()

In [ ]:
# to_csv() 는 기본적으로 UTF-8 형식으로 저장
df.to_csv('ns_202104.csv')

In [ ]:
with open('ns_202104.csv') as f:
    for i in range(3):
        print(f.readline())

# 데이터프레임 행 인덱스가 함께 저장됨

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13

0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,,,,,1,0,2021-03-19,

1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,,,,,1,0,2021-03-19,

- index_col 매개변수 사용해 인덱스가 이미 있다는 것을 알림

In [ ]:
ns_df = pd.read_csv('ns_202104.csv', index_col = 0, low_memory = False)
ns_df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

- 애초에 데이터프레임을 csv로 저장할 때 인덱스를 빼고 저장할 수도 있음

> `df.to_csv('ns_202104.csv', index = False)`