<a href="https://colab.research.google.com/github/HyosangKwon/Data-analysis-to-study-alone-with-python-/blob/main/02_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%88%98%EC%A7%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#API 사용하기

- API:두 프로그램이 서로 대화하기 위한 방법을 정의한 것.

-----



># 파이썬에서 JSON 데이터 다루기 :
- JSON은 마치 딕셔너리와 리스트를 중첩해 놓은 것과 비슷하다

In [ ]:
d = {"name": "혼자 공부하는 데이터 분석"}
print(d["name"])

혼자 공부하는 데이터 분석

>> ## 파이썬 객체를 JSON 문자열로 변환하기: `json.dumps()`

In [ ]:
import json
d_str = json.dumps(d, ensure_ascii = False)
print(d_str)

# 기본적으로 json.dumps() 함수는 아스키 문자 외의 다른 문자를 16진수로 출력하기 때문에 한글이 제대로 보이지 않음.
# ensure_ascii 매개변수를 False로 지정하여 원래 저장된 문자를 그대로 출력하게 함.

{"name": "혼자 공부하는 데이터 분석"}

In [ ]:
print(type(d_str))
# 문자열 객체인지 확인

<class 'str'>

>> ## JSON 문자열을 파이썬 객체로 변환: `json.loads()`

In [ ]:
d2 = json.loads(d_str)
print(d2['name'])

혼자 공부하는 데이터 분석

In [ ]:
# 좀 더 복잡한 구조의 딕셔너리
d3 = json.loads('{"name": "혼자 공부하는 데이터 분석", \
                "author" : "박해선", \
                "year": 2022}')

print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

In [ ]:
d3 = json.loads(' {"name" : "혼공 데이터 분석", \
                    "author" : ["박해선", "홍길동"], \
                    "year" : 2022}')

print(d3['author'][1])

홍길동

>> json 배열

In [ ]:
d4_str = """
[
    {"name": "혼자 공부하는 데이터 분석", "author" : "박해선", "year": 2022},
    {"name": "혼자 공부하는 머신러닝+딥러닝", "author" : "박해선", "year": 2022}
]
"""

d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

>>## JSON 문자열을 데이터프레임으로 변환하기: `read_json()`
- 판다스에서 제공

In [ ]:
import pandas as pd
pd.read_json(d4_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2022

>>## JSON 문자열을 파이썬 객체로 만든 다음 DataFrame 클래스 사용

In [ ]:
pd.DataFrame

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2022

-----

># 파이썬에서 XML 데이터 다루기
- XML은 엘리먼트(element)들이 계층구조를 이루면서 정보를 표현한다.

>>## XML 문자열을 파이썬 객체로 변환 : `fromstring()`

In [ ]:
x_str = """
<book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
</book>
"""

In [ ]:
import xml.etree.ElementTree as et
book = et.fromstring(x_str)

print(type(book))
print(book.tag) # book 객체의 엘리먼트 이름 확인

<class 'xml.etree.ElementTree.Element'>
book

>>## 자식 엘리먼트 확인하기: `findtext()`

In [ ]:
book_childs = list(book)
print(book_childs)

[<Element 'name' at 0x7f687b3bf6f0>, <Element 'author' at 0x7f687b3bf420>, <Element 'year' at 0x7f687b3bdad0>]

In [ ]:
# book_childs 리스트 각 항목을 변수에 할당
name, author, year = book_childs

# text 속성으로 엘리먼트에 있는 텍스트를 출력
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박해선
2022

>>## 해당하는 자식 엘리먼트 탐색 해 자동 반환: `findtext()`

In [ ]:
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')

print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박해선
2022

- 복잡한 XML 문서 만들기

In [ ]:
x2_str = """
<books>
    <book>
        <name>혼자 공부하는 데이터 분석</name>
        <author>박해선</author>
        <year>2022</year>
    </book>

    <book>
        <name>혼자 공부하는 머신러닝+딥러닝</name>
        <author>박해선</author>
        <year>2020</year>
    </book>
</books>
"""

books = et.fromstring(x2_str)
print(books.tag)

books

>>## 여러 개의 자식 엘리먼트 확인: `findall()` with for

In [ ]:
for book in books.findall('book'):
    name = book.findtext('name')
    author = book.findtext('author')
    year = book.findtext('year')

    print(name)
    print(author)
    print(year)
    print()

혼자 공부하는 데이터 분석
박해선
2022

혼자 공부하는 머신러닝+딥러닝
박해선
2020