<a href="https://colab.research.google.com/github/HyosangKwon/Data-analysis-to-study-alone-with-python-/blob/main/4_1_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%9A%94%EC%95%BD%ED%95%98%EA%B8%B0(%ED%86%B5%EA%B3%84%EB%A1%9C_%EC%9A%94%EC%95%BD%ED%95%98%EA%B8%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 기술통계란 자료의 내용을 압축하여 설명하는 방법을 말한다.
- 정량적인 수치로 전체 데이터의 특징을 요약하거나 이해하기 쉬운 간단한 그래프를 사용한다.
- 대표적인 통계량에는 평균,표준편차 등이 있다.
- 데이터 시각화를 아우르는 데이터 분석방법을 탐색적 데이터 분석 이라고 한다.
------------------

># 기술통계 구하기

In [ ]:
import gdown
gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:02<00:00, 24.9MB/s]

'ns_book6.csv'

In [ ]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [ ]:
# 판다스는 데이터프레임에서 기본적인 몇 가지 기술통계를 자동으로 추출해 주는 describe() 메서드 제공

ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

-----------------
- count: 누락된 값을 제외한 데이터 개수
- mean: 평균
- std: 표준편차
- min: 최소값
- 50%: 중앙값
- 25%/75%: 순서대로 나열했을 때 25%지점과 75%지점
- max: 최대값
-----------------

In [ ]:
# 도서권수가 0인 도서의 행 개수 카운트하기
sum(ns_book6['도서권수']==0)

3206

In [ ]:
# 실제로 없는 도서 대출 데이터는 의미가 없다고 판단하고 제외
ns_book7 = ns_book6[ns_book6['도서권수']>0]

In [ ]:
# 원하는 위치의 값 보려면 percentiles 매개변수 위치 지정

ns_book7.describe(percentiles=[0.3, 0.6, 0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [ ]:
# 열의 데이터 타입이 수치가 아닌 다른 데이터 타입의 열의 기술통계 보려면 include 매개변수에 데이터 타입 지정
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

------------------
- count: 누락된 값을 제외한 데이터 개수
- unique: 고유한 값의 개수
- top: 가장 많이 등장하는 값
- freq: top행에 등장하는 항목의 빈도수
------------------

>>## 평균 구하기: `mean()` 메서드

In [ ]:
ns_book7['대출건수'].mean()

11.593438968070707

># 중앙값 구하기
>>## `median()` 메서드

In [ ]:
ns_book7['대출건수'].median()

6.0

In [ ]:
# 데이터 개수가 짝수인 경우 가운데 두 개의 값을 평균하여 중앙값 결정

temp_df = pd.DataFrame([1,2,3,4])
temp_df.median()

0    2.5
dtype: float64

>>## 중복값 제거하고 중앙값 구하기: `duplicates()` 메서드

In [ ]:
ns_book7['대출건수'].drop_duplicates().median()

183.0

># 최솟값 / 최댓값 구하기 : `min()` / `max()`

In [ ]:
print(ns_book7['대출건수'].min())
ns_book7['대출건수'].max()

0

1765

># 분위수 구하기
-  분위수: 데이터를 순서대로 늘어 놓았을 때 이를 균등한 간격으로 나누는 기준점
>>## `quantile()` 메서드

In [ ]:
# 하위 25%에 위치한 값을 출력

ns_book6['대출건수'].quantile(0.25)

2.0

In [ ]:
# 여러개의 분위수를 지정

ns_book6['대출건수'].quantile([0.25, 0.5, 0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [ ]:
pd.Series([1,2,3,4,5]).quantile(0.9)

4.6

>>## 백분위 구하기

In [ ]:
# 대출건수 10이 위치한 백분위 찾기
# 먼저 '대출건수' 열의 값이 10보다 작은지 비교하여 불리언 배열 만듬

borrow_10_flag = ns_book7['대출건수'] < 10

In [ ]:
# True 개수를 모두 구하고 전체 데이터 개수로 나누면 10보다 작은 대출 건수의 비율 얻을 수 있음
# 데이터의 양이 많다면 전체 데이터를 순서대로 놓았을 때 10이 위치한 백분위와 거의 비슷함

borrow_10_flag.mean()

0.6402712530190833

In [ ]:
# 10보다 작은 대출건수의 비율이 0.64이므로 10에 대한 백분위는 약 0.65로 예상 가능

ns_book7['대출건수'].quantile(0.65)

10.0

># 분산 구하기
>>## `var()` 메서드

In [ ]:
ns_book7['대출건수'].var()

371.69563042906674

>>## 표준편차 구하기

In [ ]:
ns_book6['대출건수'].std()

19.241925726324574

In [ ]:
# 넘파이로 판다스의 std() 메서드를 수식으로 구현

import numpy as np
diff = ns_book7['대출건수'] - ns_book7['대출건수'].mean()
np.sqrt(np.sum(diff**2)/(len(ns_book7)-1))

19.279409493785508

># 최빈값 구하기
- 최빈값: 데이터에서 가장 많이 등장하는 값
>>## `mode()` 메서드

In [ ]:
ns_book7['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

In [ ]:
ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

># 데이터프레임에서 기술통계 구하기

In [ ]:
# numeric_only 매개변수 지정하지 않으면 모든 데이터 타입의 열에 대해 수행하기 때문에 오래걸리며 경고 발생

ns_book7.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [ ]:
# '번호'열은 모두 고유값이므로 최빈값 의미X, 따라서 제외하고 적용

ns_book7.loc[:,'도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

In [ ]:
ns_book7.to_csv('ns_book7.csv', index = False)